@model List<MyTask>
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #0a55a6;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .table-container {
        max-width: 80%;
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 10px;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #0a55a6;
        @* color: white; *@
    }

    tr:hover {
        background-color: #f8f8f8;
    }

    .action-buttons a {
        display: inline-block;
        margin: 2px;
        padding: 10px 20px;
        border: none;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
    }

  
    h2 {
        color: #3498db;
    }

    .add-btn, .register-btn, .logout-btn {
        margin: 8px;
        padding: 10px 24px;
        border: none;
        border-radius: 12px;
        background-color: #2243e6;
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: inline-block;
        transition: 0.3s;
    }

    .add-btn:hover, .register-btn:hover, .logout-btn:hover {
        background-color: #d35400;
    }
</style>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Task Manager</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-primary" onclick="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-5">
   
    <table class="table table-striped">
        <thead>
            <tr>
                @* <th></th> *@
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                @* <th scope="col">TaskType</th> *@
                <th scope="col">Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.c_taskid</td>
                    <td>@task.c_taskissue</td>
                    @* <td style="width:200px; border:2px solid; padding: 20px 5px; ">@task.c_tasktype</td> *@
                    <td>@task.c_initialdate.ToString("dd-MM-yyyy")</td>
                    <td>@task.c_duedate.ToString("dd-MM-yyyy")</td>
                    <td>@task.c_status</td>
                    <td>
                        @if (task.c_status != "Done")
                        {
                            <a asp-action="UpdateStatus" asp-route-id="@task.c_taskid">
                                <button class="btn btn-success">Done</button>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $("#selectAll").click(function () {
        $(':checkbox').not(this).prop('checked', this.checked);
    });
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    function logout() {
        window.location.href = '@Url.Action("Login", "User")';
    }

    function addTask() {

    }

</script>
